/*颜色*/
:root {
  /*文章背景线条颜色*/
  --vp-doc-blog-bg: rgba(100, 190, 190, 0.08);
  /*博客单项hover border 颜色*/
  --vp-blog-post-item-hover-border: rgba(80, 134, 161, 0.5);
  /*博客单项hover shadow*/
  --vp-blog-post-item-hover-shadow: rgba(80, 134, 161, 0.2);

  /* 线条颜色 */
  --line-color: rgba(200, 200, 200, 0.5);
  /* 热力图等级颜色变量 */
  --heatmap-level-0: #ebedf0;
  --heatmap-level-1: #9be9a8;
  --heatmap-level-2: #40c463;
  --heatmap-level-3: #30a14e;
  --heatmap-level-4: #216e39;
  /* 滚动条 */
  --scrollbar-thumb: #f0f0f0;
  --scrollbar-thumb-hover: #c1c1c1;
}

[data-theme="dark"] {
  --vp-doc-blog-bg: rgba(30, 120, 120, 0.103);
  --vp-blog-post-item-hover-border: rgba(80, 134, 161, 0.4);
  --vp-blog-post-item-hover-shadow: rgba(80, 134, 161, 0.15);

  /* 线条颜色 */
  --line-color: rgba(53, 53, 53, 0.4);
  /* 热力图等级颜色变量 */
  --heatmap-level-0: #161b22;
  --heatmap-level-1: #0e4429;
  --heatmap-level-2: #006d32;
  --heatmap-level-3: #26a641;
  --heatmap-level-4: #39d353;
  /* 滚动条 */
  --scrollbar-thumb: #2f2f2f;
  --scrollbar-thumb-hover: #444444;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}

/* 导航栏 */
.vp-navbar .container {
  max-width: 1000px;
}

.posts-container .no-profile {
  max-width: 1000px;
}

/*文章背景*/
.vp-doc-container {
  > .container {
    > .content {
      background-image:
            /* 横线 */
        linear-gradient(
          to bottom,
          transparent 0,
          transparent calc(1.5em - 1px),
          var(--vp-doc-blog-bg, rgba(0, 0, 0, 0.08)) calc(1.25em - 1px),
          var(--vp-doc-blog-bg, rgba(0, 0, 0, 0.08)) 1.25em
        ),
        /* 竖线 */
        linear-gradient(
            to right,
            transparent 0,
            transparent calc(1.5em - 1px),
            var(--vp-doc-blog-bg, rgba(0, 0, 0, 0.08)) calc(1.25em - 1px),
            var(--vp-doc-blog-bg, rgba(0, 0, 0, 0.08)) 1.25em
          );
      background-size: 1.5em 1.5em; /* 正方形格子！ */
      background-position: 0 0;
    }
  }
}

/*博客页面 单个卡片效果*/
.vp-post-item {
  @media screen and (max-width: 770px) {
    margin: 0 0 !important;
    border-radius: 6px;
  }
  transition:
    box-shadow 0.2s ease-out,
    border-color 0.2s ease-out !important;
  border: 1px rgba(255, 0, 0, 0) solid;
  &:hover {
    box-shadow: 0 0 7px 2px var(--vp-blog-post-item-hover-shadow) !important;
    border: 1px var(--vp-blog-post-item-hover-border) solid;
  }
}
