@font-face {
    font-family: 'MapleMono'; /* 自定义字体的名称 */
    src: url('/font/MapleMono-CN-Regular.ttf') format('truetype'); /* TTF字体文件的路径 */
    /*src: url('/font/segoesc.ttf') format('truetype'); !* TTF字体文件的路径 *!*/
    /*src: url('/font/segoesc.woff') format('woff'); !* TTF字体文件的路径 *!*/
}
@font-face {
    font-family: 'LogoFont'; /* 自定义字体的名称 */
    src: url('/font/segoesc.ttf') format('truetype'); /* TTF字体文件的路径 */
    /*src: url('/font/segoesc.woff') format('woff'); !* TTF字体文件的路径 *!*/
}
body{
    font-family: MapleMono, serif;
}
.vp-navbar-title span{
    font-family: LogoFont, serif;
    font-weight: bolder;
    font-size: 1.4rem;
}

